.movie-list {


  .list-item{
    align-items: center;
    height: 2.6em;

    .avatar {
      height: 2em;
      width:2em;
    }

    button {
      height: 1.6em;
      display: flex;
      justify-content: center;
      align-items: center;
    }



  }

}


